<a href="/">Home</a>
<a href="/book" style="color: black; font-weight:bold">Go to book list</a>
<div class="container mt-3 mb-3">
    <h1>Student List</h1>
<table border="1">
  <tr>
    <th colspan="5">Book List</th>
  </tr>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Address</th>
    <th>Image</th>
  </tr>
  {{#each students}}
    <tr>
      <th>{{name}}</th>
      <th>{{age}}</th>
      <th>{{email}}</th>
      <th>{{address}}</th>
      <th><img src="{{ image }}" width="100" height="100"></th>
    </tr>
  {{/each}}

</table>
</div>